.form select {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form label {
    font-size: 0.875rem;
    margin-right: 1rem;
}

.box {
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--content-color);
    padding: 0.25rem 1.25rem 1.25rem;
}

.box h4 {
    margin-bottom: 1rem;
}

.checkbox {
    display: block;
}

.checkbox input {
    margin: 0.625rem;
}

.price {
    font-weight: 500;
    color: var(--accent-color);
}